
.event-modification-page, .clubs-modification-page{
    --text-color-primary: #202020;
    --text-color-seconday: #7C7C7C;
    --text-color-brand: #0061BB;
    --text-color-invert: #F5F5F5;

    --surface-color-primary: #F5F5F5;
    --surface-color-seconday: #343434;
    --surface-color-brand: #202020;
    --surface-color-invert: #58AEFF;

    --border-color-primary: #202020;
    --border-color-secondary: #0061BB;
    
    background-color: var(--surface-color-primary);

    margin: 3% 10%;
}

.event-modification-page h3, .clubs-modification-page h3 {
    font-weight: bold;
    color: var(--text-color-brand);
}

.event-modification-page h2, .clubs-modification-page h2 {
    font-weight: bold;
    color: var(--text-color-brand);
}

.event-modification-page text p, .clubs-modification-page text p {
    margin: 14px 6px;
}


/* Top Bar */
.admin-page .admin-page-topbars {
    display: flex;
    flex-direction: row;
}

.admin-page .admin-page-topbars a {
    color: var(--text-color-brand)
}
.admin-page .admin-page-topbars a:hover {
    color: var(--text-color-invert)
}
.admin-page .admin-page-topbars li {
    margin: 4px 10px;
    padding: 2px;
}