*
!.gitignore
!.github/
!.github/**
!LICENSE
!README.md

!setup.sh

!package.json
!package-lock.json
!tsconfig.json
!scripts/
!scripts/**

!eslint.config.mjs

!webpack.config.js
!.env.template
!runtime-config.json.template

!public/
!public/**
!src/
!src/**
