
.event-page-form-comp {
    display: flex;
    flex-direction: row;
}

.event-page-form-comp .event-form {
    width: 100%;
}


.event-page-form-comp .col3 {
    display:flex;
    justify-content: center;
    gap: 10px;
}

.event-page-form-comp .row {
    width: 100%;
}