
.event-modification-comp{
    display: flex;
    flex-direction: row;
}

.event-form {
    width: 80%; 
}

.event-form .col3 {
    display:flex;
    justify-content: center;
    gap: 10px;
}

.event-form .col2 {
    display:flex;
    justify-content: center;
    gap: 10px;
}

.event-form .form-field{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 4px;
}

.event-form .form-field.form-field-date{
    width: 50%;
}

.event-form .form-field.form-field-time{
    width: 50%;
}

.event-form .form-field.form-field-number{
    width: 50%;
}