/* TODO */
.title{
    background-color: rgba(60, 60, 60, 0.661);
    border-radius: 1em;
    margin-top: 1em;
}
.zoneTexte{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.txt{
    color:white;
}
.smltxt{
    font-size: 1em;
}
