.title{
    background-color: rgba(60, 60, 60, 0.661);
    border-radius: 1em;
    margin-top: 1em;
}

.text-area{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.text{
    color: white;
}

.small-text{
    font-size: 1em;
}
