#navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background-color: #58aeff;
    font-size: 1rem;

    @media (width <= 60rem) and (height <= 48rem) {
        height: 2rem;
        font-size: 0.7rem;
    }

    @media (width >= 130rem) or (height >= 90rem) {
        height: 4.5rem;
        font-size: 1.5rem;
    }

    & > .navbar-title {
        margin: 0;
        line-height: 1;
        font-size: 2em;
        font-weight: bold;
        color: black;
    }

    & > .navbar-icon {
        color: black;
        height: 100%;
        max-height: 100%;
        aspect-ratio: 1;
        cursor: pointer;
    }
}
