@import "tailwindcss";

/*
  Define theming variables for tailwind.
  It will permit us to do :
  text-primary, bg-primary, border-primary, etc... and it will adapt to the theme (light/dark).
 */
/* @apply is used to aplly tailwind classes in css, it's useful for global styles and theming. */

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-accent: var(--color-accent);
  --color-accent-hover: var(--color-accent-hover);
  --color-bg-page: var(--color-bg-page);
  --color-text-main: var(--color-text-main);
  --color-text-muted: var(--color-text-muted);
  
  --font-sans: "Inter", sans-serif;
}

/* Css base styles and theming variables */
@layer base {
  /* light theme (classic) */
  :root {
    --color-primary: #0070C0;
    --color-secondary: #FEFDF5;
    --color-tertiary: #EBEBEB;

    --color-accent: #3FA9F5;
    --color-accent-hover: #2C88D9;

    --color-bg-page: #F4F6F8;
    
    --color-text-main: #1A1A1A;
    --color-text-muted: #666666;

    transition: background-color 0.3s, color 0.3s;
  }

  /* dark theme */
:root.dark {
    --color-primary: #60A5FA;
    --color-secondary: #1E293B;
    --color-tertiary: #334155;

    --color-accent: #38BDF8;
    --color-accent-hover: #0EA5E9;

    --color-bg-page: #0F172A;

    --color-text-main: #E2E8F0;
    --color-text-muted: #94A3B8;
  }
  /* Global styles */
  * {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

  body {
    @apply w-screen h-screen overflow-hidden m-0 p-0 -z-0 font-sans;
    @apply bg-bg-page text-text-main;
    @apply transition-colors duration-300;
  }

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    color: #202020;

    /*background-image: repeating-linear-gradient(
        140deg,
        #c99828 0%,
        #ca9a29 10%,
        #cb9b2b 15%,
        #ce9f30 20%,
        #d8b647 24%,
        #d8b647 26%,
        #ce9f30 30%,
        #cb9b2b 35%,
        #ca9a29 40%,
        #c99828 50%
    );
    background-size: 200% 200%;
    background-repeat: repeat;
    animation: animation-gold-shimmer 10s linear infinite;*/
}

h1 {
    font-size: 48px;
    font-weight: 600; /* This is semi-bold*/
    color: #0061bb;
}
h2 {
    font-size: 40px;
    font-weight: 600;
    color: #0061bb;
}

button {
    background-color: #58aeff;
    color: black;
}

button:hover {
    background-color: rgb(63, 162, 255);
    box-shadow: 0 4px 10px rgba(63, 162, 255, 0.3);
}

/*@keyframes animation-gold-shimmer {
    0% { background-position: 0 0; }
    100% { background-position: 100% 100%; }
}*/

#root {
  @apply w-full h-full flex flex-col overflow-x-hidden overflow-y-auto;
  scrollbar-width: thin;
}

#main {
  @apply w-full h-auto flex-1 flex flex-col flex-nowrap justify-center items-center;
}

.separator {
  @apply w-full h-[0.8vh] mx-auto rounded-[1vh];
  background: linear-gradient(to right, transparent, var(--color-primary), transparent);
}

hr {
    width: 60%;
    height: 2px;
    background: #003e8f;
    border-radius: 2px;
}

.separator {
    width: 100%;
    height: 0.8vh;
    background: linear-gradient(to right, transparent, #003e8f, transparent);
    border-radius: 1vh;
    margin: 0 auto;
}
