@import "tailwindcss";

/*
  Define theming variables for tailwind.
  It will permit us to do :
  text-primary, bg-primary, border-primary, etc... and it will adapt to the theme (light/dark).
 */
/* @apply is used to aplly tailwind classes in css, it's useful for global styles and theming. */

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-accent: var(--color-accent);
  --color-accent-hover: var(--color-accent-hover);
  --color-bg-page: var(--color-bg-page);
  --color-text-main: var(--color-text-main);
  --color-text-muted: var(--color-text-muted);
  
  --font-sans: "Inter", sans-serif;
}

/* Css base styles and theming variables */
@layer base {
  /* light theme (classic) */
  :root {
    --color-primary: #0070C0;
    --color-secondary: #FEFDF5;
    --color-tertiary: #EBEBEB;

    --color-accent: #3FA9F5;
    --color-accent-hover: #2C88D9;

    --color-bg-page: #F4F6F8;
    
    --color-text-main: #1A1A1A;
    --color-text-muted: #666666;

    transition: background-color 0.3s, color 0.3s;
  }

  /* dark theme */
:root.dark {
    --color-primary: #60A5FA;
    --color-secondary: #1E293B;
    --color-tertiary: #334155;

    --color-accent: #38BDF8;
    --color-accent-hover: #0EA5E9;

    --color-bg-page: #0F172A;

    --color-text-main: #E2E8F0;
    --color-text-muted: #94A3B8;
  }
  /* Global styles */
  * {
    box-sizing: border-box;
  }

  body {
    @apply w-screen h-screen overflow-hidden m-0 p-0 -z-0 font-sans;
    @apply bg-bg-page text-text-main;
    @apply transition-colors duration-300;
  }

  h1 {
    @apply text-primary text-5xl font-semibold;
  }

  h2 {
    @apply text-primary text-4xl font-semibold;
  }

  button {
    @apply bg-accent text-black border border-black/20 font-medium text-sm rounded-lg px-4 py-1.5;
    @apply transition-all duration-200; 
  }

  button:hover {
    @apply bg-accent-hover shadow-[0_4px_10px_rgba(63,162,255,0.3)];
  }

  :root.dark button:hover {
    @apply shadow-[0_4px_10px_rgba(56,189,248,0.3)];
  }

  hr {
    @apply w-[60%] h-[2px] bg-secondary rounded-[2px] border-0;
  }
}

#root {
  @apply w-full h-full flex flex-col overflow-x-hidden overflow-y-auto;
  scrollbar-width: thin;
}

#main {
  @apply w-full h-auto flex-1 flex flex-col flex-nowrap justify-center items-center;
}

.separator {
  @apply w-full h-[0.8vh] mx-auto rounded-[1vh];
  background: linear-gradient(to right, transparent, var(--color-primary), transparent);
}
